[$Version]
update_info=spectacle_newConfig.upd:spectacle-new-config,spectacle_clipboard.upd:clipboard-settings-change,spectacle_rememberregion.upd:spectacle-migrate-rememberregion

[General]
clipboardGroup=PostScreenshotCopyImage
rememberLastRectangularRegion=0
useReleaseToCapture=true

[GuiConfig]
window-position=612,271

[KFileDialog Settings]
detailViewIconSize=16

[KPropertiesDialog]

[Save]
defaultSaveLocation=file:///home/{{ user_name }}/Documents/Screenshots

