ansible/roles/remmina/files/*-connections
ansible/group_vars/all/users.yml
ansible/files/*-keys
*.salt
*.kwl
*.remmina
ansible/vault_pass
ansible/files/users/*
ansible/venv
.terraform*
*.tfvars
terraform.tfstate*
