{% if item == "arch" %}
title   Arch Linux
{% else %}
title   Arch Linux (fallback initramfs)
{% endif %}
linux   /vmlinuz-linux
initrd  /intel-ucode.img
{% if item == "arch" %}
initrd  /initramfs-linux.img
{% else %}
initrd  /initramfs-linux-fallback.img
{% endif %}
options zfs={{ installation_zfs_root_dataset }} rw nosgx {{ installation_kernel_cmdline }}
