{% if item == "arch" %}
title   Arch Linux
{% else %}
title   Arch Linux (fallback initramfs)
{% endif %}
linux   /vmlinuz-{{ installation_kernel_version }}
initrd  /intel-ucode.img
{% if item == "arch" %}
initrd  /initramfs-{{ installation_kernel_version }}.img
{% else %}
initrd  /initramfs-{{ installation_kernel_version }}-fallback.img
{% endif %}
options zfs={{ installation_zfs_root_dataset }} rw nosgx {{ installation_kernel_cmdline }}
