# mkinitcpio preset file for the '{{ installation_kernel_version }}' package

ALL_config="/etc/mkinitcpio.conf"
ALL_kver="/boot/vmlinuz-{{ installation_kernel_version }}"

PRESETS=('default' 'fallback')

{% if installation_uki_enabled %}
default_uki="{{ installation_efi_partiton_mount_point }}/EFI/Linux/arch-{{ installation_kernel_version }}.efi"

fallback_uki="{{ installation_efi_partiton_mount_point }}/EFI/Linux/arch-{{ installation_kernel_version }}-fallback.efi"
{% else %}
default_image="/boot/initramfs-{{ installation_kernel_version }}.img"

fallback_image="/boot/initramfs-{{ installation_kernel_version }}-fallback.img"
{% endif %}
fallback_options="-S autodetect"
