AddKeysToAgent yes

{% for host in groups['managed'] %}
Host {{ hostvars[host].inventory_hostname_short }}
    HostName {{ hostvars[host].inventory_hostname }}
    User {{ hostvars[host].user_name }}
    Port {{ hostvars[host].ansible_port | default('22') }}
{% endfor %}
