---

installation_drive:
  name: /dev/disk/by-id/virtio-vda
  efi_partition_suffix: -part1
  efi_partition_label: efi
  root_partition_suffix: -part2
  root_zpool: arch

hostname: nas-1
gpu_manufacturer: virt
# en_PL, pl_PL
system_language: en_PL

network_interface: enp1s0
network_config:
  connection_name: "Wired connection 1"
  ipv4: 192.168.100.61/24
  gw4: 192.168.100.1
  dns4: 192.168.100.1
  dns4_search: "{{ localdomain }}"

zfs_additional_drives_enabled: true
zfs_zpools:
  - name: hdd1
    raid: raidz2
    compression: zstd-3
    datasets:
      - name: media
      - name: cloud
      - name: kube-hdd
      - name: other-hdd
      - name: backup
        snapshots_enabled: false
        properties: >
          -o compression=zstd-9
    devices:
      - "{{ lookup('community.general.bitwarden', 'host_vars_nas-1', field='zfs_devices_1') | first }}"
      - "{{ lookup('community.general.bitwarden', 'host_vars_nas-1', field='zfs_devices_2') | first }}"
      - "{{ lookup('community.general.bitwarden', 'host_vars_nas-1', field='zfs_devices_3') | first }}"
      - "{{ lookup('community.general.bitwarden', 'host_vars_nas-1', field='zfs_devices_4') | first }}"
      - "{{ lookup('community.general.bitwarden', 'host_vars_nas-1', field='zfs_devices_5') | first }}"
      - "{{ lookup('community.general.bitwarden', 'host_vars_nas-1', field='zfs_devices_6') | first }}"
      - "{{ lookup('community.general.bitwarden', 'host_vars_nas-1', field='zfs_devices_7') | first }}"
      - "{{ lookup('community.general.bitwarden', 'host_vars_nas-1', field='zfs_devices_8') | first }}"
      - "{{ lookup('community.general.bitwarden', 'host_vars_nas-1', field='zfs_devices_9') | first }}"
      - "{{ lookup('community.general.bitwarden', 'host_vars_nas-1', field='zfs_devices_10') | first }}"

nfs_enabled: true
smb_enabled: true
smb_shares:
  - name: wish-journal
    path: /mnt/kube-hdd/pvc-7f56a874-0050-4222-a949-51ab11576329
    browseable: true
    read_only: false
    guest_ok: false
    valid_users: "{{ smb_user_name }}"
    force_user: nas
nfs_server_root_access:
  - client: "{{ lookup('community.general.bitwarden', 'host_vars_nas-1', field='nfs_server_root_access.client1') | first }}"
  - client: "{{ lookup('community.general.bitwarden', 'host_vars_nas-1', field='nfs_server_root_access.client2') | first }}"
  - client: "{{ lookup('community.general.bitwarden', 'host_vars_nas-1', field='nfs_server_root_access.client3') | first }}"
  - client: "{{ lookup('community.general.bitwarden', 'host_vars_nas-1', field='nfs_server_root_access.client4') | first }}"
  - client: "{{ lookup('community.general.bitwarden', 'host_vars_nas-1', field='nfs_server_root_access.client5') | first }}"
  - client: "{{ lookup('community.general.bitwarden', 'host_vars_nas-1', field='nfs_server_root_access.client6') | first }}"
  - client: "{{ lookup('community.general.bitwarden', 'host_vars_nas-1', field='nfs_server_root_access.client7') | first }}"
  - client: "{{ lookup('community.general.bitwarden', 'host_vars_nas-1', field='nfs_server_root_access.client8') | first }}"
  - client: "{{ lookup('community.general.bitwarden', 'host_vars_nas-1', field='nfs_server_root_access.client9') | first }}"
  - client: "{{ lookup('community.general.bitwarden', 'host_vars_nas-1', field='nfs_server_root_access.client10') | first }}"
nfs_server_shares:
  - mount_point: /srv/nfs/kube-hdd
    source: /mnt/kube-hdd
  - mount_point: /srv/nfs/media
    source: /mnt/media
  - mount_point: /srv/nfs/cloud
    source: /mnt/cloud
    options: rw,async,nohide,all_squash,anonuid=1000,anongid=1000,no_subtree_check

borg_enabled: true
borg_backup_dirs: "/mnt/cloud /mnt/kube-hdd /mnt/other-hdd /mnt/backup"
borg_additional_exclude: "/mnt/kube-hdd/pvc-cdfebc46-ffa4-4a72-8f03-9626624672e0/*"
borg_backup_run_hour: "3:00"

sanoid_syncoid_enabled: true
sanoid_syncoid_target: true
sanoid_syncoid_target_dataset: hdd1/backup
