---
apiVersion: v1
kind: ConfigMap
metadata:
  name: dagonite-empire-dev-values
  namespace: dagonite-empire-dev
data:
  values.yaml: |-
    replicaCount: 1
    resources:
      requests:
        cpu: 250m
        memory: 512Mi
      limits:
        memory: 512Mi
    ingress:
      enabled: true
      className: "nginx"
      annotations:
        kubernetes.io/ingress.class: nginx
        kubernetes.io/tls-acme: "true"
        cert-manager.io/cluster-issuer: "letsencrypt-prod"
      hosts:
        - host: dagonite-empire-dev.drik.it
          paths:
            - path: /
              pathType: ImplementationSpecific
      tls:
        - secretName: dagonite-empire-dev-certs
          hosts:
            - dagonite-empire-dev.drik.it

    postgresql:
      image:
        repository: bitnamilegacy/postgresql
      clusterDomain: cluster.drik.it
      primary:
        resources:
          requests:
            cpu: 250m
            memory: 256Mi
          limits:
            memory: 256Mi
        persistence:
          enabled: true
          size: 10Gi
      readReplicas:
        resources:
          requests:
            cpu: 250m
            memory: 256Mi
          limits:
            memory: 256Mi

    persistence:
      upload:
        enabled: true
        size: 10Gi

    enableTestAccounts: true
    aspnetcoreEnvironment: Development
    detailedErrors: true
