
{% if sanoid_root_datasets_snapshot_enabled %}
# {{ installation_drive.root_zpool }} datasets

{% for dataset in installation_zfs_datasets %}
[{{ installation_drive.root_zpool }}/{{ dataset.name }}]
	use_template = default
	recursive = yes

{% endfor %}
{% endif %}
{% if zfs_additional_drives_enabled %}
{% for zpool in zfs_zpools %}

# {{ zpool.name }} datasets

{% for dataset in zpool.datasets %}
{% if dataset.snapshots_enabled | default(true) %}
[{{ zpool.name }}/{{ dataset.name }}]
	use_template = default
	recursive = yes

{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

# templates

[template_default]
    frequently = 0
    hourly = 12
    daily = 14
    monthly = 0
    yearly = 0
    autosnap = yes
    autoprune = yes
