[Unit]
Description=Run syncoid
After=network.target
[Service]
Type=oneshot
User={{ sanoid_syncoid_user }}
Group={{ sanoid_syncoid_user }}
ExecStart=/usr/sbin/syncoid --recursive {{ sanoid_syncoid_source_dataset }} {{ sanoid_syncoid_target_host }}:{{ sanoid_syncoid_target_dataset }}/{{ ansible_host }}
