[global]
   workgroup = {{ smb_workgroup }}
   server string = {{ smb_server_string }}
   server role = standalone server
   log file = /var/log/samba/log.%m
   max log size = 50
   dns proxy = no

{% for share in smb_shares %}
[{{ share.name }}]
   path = {{ share.path }}
   browseable = {{ share.browseable | default(true) | ternary('yes', 'no') }}
   read only = {{ share.read_only | default(false) | ternary('yes', 'no') }}
   guest ok = {{ share.guest_ok | default(false) | ternary('yes', 'no') }}
{% if share.valid_users is defined %}
   valid users = {{ share.valid_users }}
{% endif %}
{% if share.write_list is defined %}
   write list = {{ share.write_list }}
{% endif %}
{% if share.force_user is defined %}
   force user = {{ share.force_user }}
{% endif %}
{% if share.create_mask is defined %}
   create mask = {{ share.create_mask }}
{% endif %}
{% if share.directory_mask is defined %}
   directory mask = {{ share.directory_mask }}
{% endif %}

{% endfor %}
