---
apiVersion: v1
kind: ConfigMap
metadata:
  name: authentik-values
  namespace: authentik
data:
  values.yaml: |-
    global:
      security:
        allowInsecureImages: true
      volumeMounts:
        - name: authentik-cert-vol
          mountPath: /certs/auth.drik.it/
          readOnly: true
      volumes:
        - name: authentik-cert-vol
          secret:
            secretName: authentik-certs
            defaultMode: 0644
            items:
              - key: tls.crt
                path: fullchain.pem
              - key: tls.key
                path: privkey.pem
    server:
      resources:
        requests:
          cpu: 500m
          memory: 1Gi
        limits:
          memory: 1Gi
      replicas: 1
      ingress:
        enabled: true
        ingressClassName: nginx
        annotations:
          cert-manager.io/cluster-issuer: "letsencrypt-prod"
        hosts:
          - auth.drik.it
        paths:
          - /
        pathType: Prefix
        tls:
          - hosts:
            - auth.drik.it
            - ldap.auth.drik.it
            secretName: authentik-certs
      dnsConfig:
        options:
          - name: ndots
            value: '1'
    worker:
      resources:
        requests:
          cpu: 500m
          memory: 1Gi
        limits:
          memory: 1Gi
      replicas: 1
      dnsConfig:
        options:
          - name: ndots
            value: '1'

    authentik:
      error_reporting:
          enabled: false
      disable_startup_analytics: true

    postgresql:
      enabled: true
      image:
        repository: bitnamilegacy/postgresql
        tag: 15.4.0-debian-11-r45
      clusterDomain: cluster.drik.it
      primary:
        resources:
          requests:
            cpu: 250m
            memory: 256Mi
          limits:
            memory: 256Mi
      readReplicas:
        resources:
          requests:
            cpu: 250m
            memory: 256Mi
          limits:
            memory: 256Mi

    redis:
      image:
        repository: bitnamilegacy/redis
      enabled: true
      auth:
        enabled: true
      clusterDomain: cluster.drik.it
      master:
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            memory: 128Mi
