---
apiVersion: v1
kind: ConfigMap
metadata:
  name: solar-creeper-values
  namespace: solar-creeper
data:
  values.yaml: |-
    replicaCount: 1
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        memory: 256Mi
    ingress:
      enabled: true
      className: "nginx"
      annotations:
        kubernetes.io/ingress.class: nginx
        kubernetes.io/tls-acme: "true"
        cert-manager.io/cluster-issuer: "letsencrypt-prod"
      hosts:
        - host: solar-creeper.drik.it
          paths:
            - path: /
              pathType: ImplementationSpecific
      tls:
        - secretName: solar-creeper-certs
          hosts:
            - solar-creeper.drik.it
