---
apiVersion: v1
kind: ConfigMap
metadata:
  name: ocis-values
  namespace: ocis
data:
  values.yaml: |-
    http:
      cors:
        allow_origins:
          - "https://auth.drik.it"
      csp:
        directives:
          connectSrc:
            - "'self'"
            - "https://auth.drik.it"
    externalDomain: ocis.drik.it
    features:
      emailNotifications:
        enabled: true
      sharing:
        users:
          search:
            minLengthLimit: 1
            showUserEmail: true
        publiclink:
          shareMustHavePassword: false
          writeableShareMustHavePassword: true
        autoAcceptShares: true
        passwordPolicies:
          minCharacters: 12
      externalUserManagement:
        enabled: true
        oidc:
          issuerURI: "https://auth.drik.it/application/o/ocis/"
          sessionManagementLink: "https://auth.drik.it/if/user/#/settings"
          editAccountLink: "https://auth.drik.it/if/user/#/settings"
          userIDClaim: email
          userIDClaimAttributeMapping: mail
          accessTokenVerifyMethod: "none"

          roleAssignment:
            enabled: true
            claim: groups
            mapping:
              - role_name: admin
                claim_value: ocis-admins
              - role_name: user
                claim_value: ocis-users
        ldap:
          writeable: false
          uri: ldaps://ldap.auth.drik.it
          bindDN: cn=ldap,ou=users,dc=ldap,dc=auth,dc=drik,dc=it
          user:
            schema:
              id: uid
              mail: mail
              displayName: displayName
              userName: cn
              userType: ""
            baseDN: ou=users,dc=ldap,dc=auth,dc=drik,dc=it
            objectClass: user
          group:
            schema:
              id: uid
              mail: ""
              displayName: cn
              groupName: cn
              member: member
            baseDN: ou=groups,dc=ldap,dc=auth,dc=drik,dc=it
            objectClass: group

    secretRefs:
      ldapSecretRef: "ocis-secret-values"
      notificationsSmtpSecretRef: "ocis-secret-values"
      jwtSecretRef: "ocis-secret-values"

    ingress:
      enabled: true
      ingressClassName: nginx
      annotations:
        kubernetes.io/ingress.class: nginx
        kubernetes.io/tls-acme: "true"
        cert-manager.io/cluster-issuer: "letsencrypt-prod"
        nginx.ingress.kubernetes.io/proxy-body-size: 5120m
      tls:
        - secretName: ocis-certs
          hosts:
            - ocis.drik.it

    namespaceOverride: ocis
    replicas: 1

    services:
      nats:
        persistence:
          enabled: true
          accessModes:
            - ReadWriteOnce
          size: 10Gi
      search:
        persistence:
          enabled: true
          accessModes:
            - ReadWriteOnce
          size: 10Gi
      storagesystem:
        persistence:
          enabled: true
          storageClassName: nfs-cloud
          accessModes:
            - ReadWriteMany
          size: 5Ti
      storageusers:
        events:
          consumer:
            concurrency: 10
        storageBackend:
          driver: ocis
          driverConfig:
            ocis:
              maxConcurrency: 100
        maintenance:
          cleanUpExpiredUploads:
            enabled: true
          purgeExpiredTrashBinItems:
            enabled: true
            personalDeleteBefore: 30d
            projectDeleteBefore: 30d
          restartPostprocessing:
            enabled: true
        persistence:
          enabled: true
          storageClassName: nfs-cloud
          accessModes:
            - ReadWriteMany
          size: 5Ti
      thumbnails:
        quota:
          maxFileSize: 50MB
          maxInputWitdth: 7680
          maxInputHeight: 7680
        persistence:
          enabled: true
          storageClassName: nfs-cloud
          accessModes:
            - ReadWriteMany
          size: 50Gi
        maintenance:
          cleanUpOldThumbnails:
            enabled: true
      web:
        config:
          feedbackLink:
            enabled: false
