
# {{ installation_drive.root_zpool }} datasets

{% for dataset in installation_zfs_datasets %}
[{{ installation_drive.root_zpool }}/{{ dataset.name }}]
	use_template = default
	recursive = yes

{% endfor %}
{% if zfs_additional_drives_enabled %}
{% for zpool in zfs_zpools %}

# {{ zpool.name }} datasets

{% for dataset in zpool.datasets %}
[{{ zpool.name }}/{{ dataset.name }}]
	use_template = default
	recursive = yes

{% endfor %}
{% endfor %}
{% endif %}

# templates

[template_default]
    frequently = 0
    hourly = 24
    daily = 30
    monthly = 1
    yearly = 0
    autosnap = yes
    autoprune = yes
    recursive = yes
