---

- name: Limit log size to 200mb
  ansible.builtin.lineinfile:
    dest: /etc/systemd/journald.conf
    regexp: ^#?SystemMaxUse=
    line: SystemMaxUse=200M

- name: Set global bash config
  ansible.builtin.template:
    src: bash_history.sh.j2
    dest: /etc/profile.d/bash_history.sh
    mode: "0644"
    owner: root
    group: root

- name: Set vim as default editor
  ansible.builtin.lineinfile:
    path: /etc/environment
    line: EDITOR=vim

- name: Enable fstrim.timer service for SSD
  ansible.builtin.systemd:
    name: fstrim.timer
    state: started
    enabled: true

- name: Ensure basic software is installed
  community.general.pacman:
    name:
      - bind
      - inetutils
      - base
      - base-devel
      - "{{ installation_kernel_version }}"
      - "{{ installation_kernel_version }}-headers"
      - linux-firmware
      - vim
      - vi
      - less
      - rsync
      - netcat
      - nfs-utils
      - wget
      - nano
      - sudo
      - htop
      - networkmanager
      - e2fsprogs
      - dosfstools
      - ntfs-3g
      - intel-ucode
      - git
      - openssh
      - python
      - python-pexpect
      - python-lxml
      - sudo
      - tpm2-tools
      - bash-completion
      - screen
      - fwupd
    state: present
