---
installation_drive:
  name:
  efi_partition_suffix:
  efi_partition_label:
  root_partition_suffix:
  root_partition_label:
hostname:
localdomain:
# nvidia, intel, virt
gpu_manufacturer:
# en_PL, pl_PL
system_language:
secureboot_keys:

crypt_passphrase:
user_name:
user_password:
user_password_clear:
ssh_pub_keys: