---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: radarr
  namespace: radarr
spec:
  chart:
    spec:
      chart: radarr
      version: 0.1.*
      sourceRef:
        kind: HelmRepository
        name: drik-homelab
        namespace: flux-system
  interval: 30m
  timeout: 15m
  releaseName: radarr
  valuesFrom:
  - kind: ConfigMap
    name: radarr-values
    valuesKey: values.yaml
