---
apiVersion: v1
kind: ConfigMap
metadata:
  name: wish-journal-values
  namespace: wish-journal
data:
  values.yaml: |-
    replicaCount: 1
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        memory: 256Mi
    ingress:
      enabled: true
      className: "nginx"
      annotations:
        kubernetes.io/ingress.class: nginx
        kubernetes.io/tls-acme: "true"
        cert-manager.io/cluster-issuer: "letsencrypt-prod"
      hosts:
        - host: wish-journal.drik.it
          paths:
            - path: /
              pathType: Prefix
      tls:
        - secretName: wish-journal-certs
          hosts:
            - wish-journal.drik.it

    persistence:
      data:
        enabled: true
        size: 2Gi
        accessMode: ReadWriteOnce
      content:
        enabled: true
        size: 30Gi
        storageClass: nfs-hdd
        accessMode: ReadWriteMany
